<div class="row justify-content-center m-0 mt-5 p-0">
    <div class="col-md-8">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">CONOCE EL UNIVERSO</h1>
              <p class="lead">Aplicación que actualmente explora las constelaciones más conocidas presentes en el universo visible!</p>
              <p class="lead">Con el paso del tiempo iré explorando más características del universo y las agregaré en esta página 😀!</p>
            </div>
        </div>
    </div>
</div>
<app-footer class="custom-footer"></app-footer>

