footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, .7)
}

footer p{
    margin: 0;
}

footer a {
    color: #000;
    font-weight: 500;
}